<launch>

  <!-- Launch vio_t265_fusion node -->
  <node pkg="vio_localization_fusion" type="t265_localization_fusion_node" name="t265_localization_fusion"
        output="screen"/>

  <!-- Launch map-based localization node
  <include file="$(find visual_localization)/launch/test.launch" >
  </include> -->

  <!-- Throttle T265 messages to a fixed rate around 30Hz -->
  <node pkg="topic_tools" type="throttle" name="throttle_t265"
        args="messages /t265/odom/sample 30 /t265/odom/sample30" 
        output="log"/>

  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vio_localization_fusion)/fusion_rviz.rviz" />

</launch>