<launch>

  <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" output="screen"/>

  <node pkg="fusion_pkg" type="imu_gps_fusion_node" name="imu_gps_fusion" output="screen" args="$(find fusion_pkg)/config/ubtm_0719.yaml"/>

  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find fusion_pkg)/fusion_rviz.rviz" />

</launch>